@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CSGO.BUSINESS</h1>
    <p class="lead">“The corrupt fear us, the honest support us, the heroes join us.” </p>
    <p><a href="https://store.steampowered.com/" class="btn btn-primary btn-lg">Steam &raquo;</a></p> 
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Veja os preços da steam </h2>
        <p>
            Apresentamos os precos mais baratos do mercado.
        </p>
        <p><a class="btn btn-default" href="https://steamcommunity.com/market/search?appid=730">Veja mais &raquo;</a></p>
    </div>
</div>